<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProgramShop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProgramShop.Properties.Settings.psConnectionString"
            connectionString="Data Source=TITLE;Initial Catalog=ps;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ProgramShop.Properties.Settings>
            <setting name="lvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bought" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="avatar" serializeAs="String">
                <value />
            </setting>
            <setting name="id_order" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="id_product" serializeAs="String">
                <value>0</value>
            </setting>
        </ProgramShop.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>